<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <div class="error-message"><%= flash[:alert] %></div>
        </div>
    </div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="shops_index">出勤一覧</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">

			<table class="table table-bordered">
				<tr>
					<th>名前</th><th>出勤予定時間</th><th>退勤予定時間</th><th>今日の売り上げ</th><th>スライド時給</th><th>バック</th><th>日払い</th><th>送り先</th><th>出勤ステータス</th>
				</tr>
				<% @today_girls.each do |girl| %>
				<tr>
					<td>
						<%= girl.name %>
					</td>
					<td>
						<%= girl.start_time.strftime('%H:%M') %>
					</td>
					<td>
						<%= girl.end_time.strftime('%H:%M') %>
					</td>
					<td>
						<%= girl.sale %>円
					</td>
					<td>
						<%= girl.slide_wage %>円
					</td>
					<td>
						<%= girl.back_wage %>円
					</td>
					<td>
						<% if girl.is_all_today == true %>
							全日
						<% else %>
							<%= girl.today_payment %>円
						<% end %>
					</td>
					<td>
						<%= girl.destination %>
					</td>
					<td>
						<% if owner_signed_in? %>
							<% if current_owner.owner_shops.find_by(shop_id:@shop.id).is_authority_i18n == "マスターオーナー" %>
								<% if girl.attendance_status_i18n == "未出勤" %>
									<%= link_to "出勤",edit_shop_todays_today_girl_path(@shop.id,girl.id) %>
								<% elsif girl.attendance_status_i18n == "出勤済み" %>
									<%= link_to "退勤",edit_shop_todays_today_girl_path(@shop.id,girl.id) %>
								<% elsif girl.attendance_status_i18n == "退勤済み" %>
									退勤済み
								<% end %>
							<% else %>
								<%= girl.attendance_status_i18n %>
							<% end %>
						<% elsif staff_signed_in? %>
							<% if current_staff.is_authority_i18n == "スタッフリーダー" %>
								<% if girl.attendance_status_i18n == "未出勤" %>
									<%= link_to "出勤",edit_shop_todays_today_girl_path(@shop.id,girl.id) %>
								<% elsif girl.attendance_status_i18n == "出勤済み" %>
									<%= link_to "退勤",edit_shop_todays_today_girl_path(@shop.id,girl.id) %>
								<% elsif girl.attendance_status == "退勤済み" %>
									退勤済み
								<% end %>
							<% else %>
								<%= girl.attendance_status_i18n %>
							<% end %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
