<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="error-message"><%= flash[:alert] %></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="shops_index">店舗初期設定</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <table class="table table-bordered">
                <tr><td>店舗名</td><td><%= @shop.name %></td></tr>
                <tr><td>認証ID</td><td><%= @shop.shop_id %></td></tr>
                <tr><td>メールアドレス</td><td><%= @shop.email %></td></tr>
                <tr><td>郵便番号</td><td><%= @shop.postal_code %></td></tr>
                <tr><td>住所</td><td><%= @shop.address %></td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= form_with model: @shop,url: shop_detial_set_path(@shop), local: true do |f| %>
                <table class="table">
                    <tr><td><%= f.label :girl_wage, "キャスト時給（デフォルト）" %></td>
                    <td><%= f.text_field :girl_wage %>円</td></tr>
                    <tr><td><%= f.label :staff_wage, "スタッフ時給（デフォルト）" %></td>
                    <td><%= f.text_field :staff_wage %>円</td></tr>
                    <tr><td><%= f.label :payment_date, "キャス給料支払日" %></td>
                    <td><%= f.text_field :payment_date %>日</td></tr>
                    <tr><td><%= f.label :deadline, "キャスト給料締め日" %></td>
                    <td><%= f.text_field :deadline %>日</td></tr>
                    <tr><td><%= f.label :drink, "キャストドリンク料金" %></td>
                    <td><%= f.text_field :drink %>円</td></tr>
                    <tr><td><%= f.label :shot, "キャストショット料金" %></td>
                    <td><%= f.text_field :shot %>円</td></tr>
                    <tr><td><%= f.label :tax_percentage, "TAX" %></td>
                    <td><%= f.text_field :tax_percentage %>%</td></tr>
                    <tr><td><%= f.label :card_tax_percentage, "カード手数料" %></td>
                    <td><%= f.text_field :card_tax_percentage %>%</td></tr>
                    <tr><td><%= f.label :set_price, "通常セット料金" %></td>
                    <td><%= f.text_field :set_price %>円</td></tr>
                    <tr><td><%= f.label :extension_price, "延長料金" %></td>
                    <td><%= f.text_field :extension_price %>円</td></tr>
                    <tr><td><%= f.label :name_price, "本指名料" %></td>
                    <td><%= f.text_field :name_price %>円/セット</td></tr>
                    <tr><td><%= f.label :hall_price, "場内指名料" %></td>
                    <td><%= f.text_field :hall_price %>円/セット</td></tr>
                    <tr><td><%= f.label :accompany, "同伴料金" %></td>
                    <td><%= f.text_field :accompany %>円</td></tr>
                    <td><%= f.radio_button :accompany_system, 0,checked: true %>
                    <%= f.label :accompany_system, "同伴料金に指名料を含める（ファーストセットのみ）" %></td>
                    <td><%= f.radio_button :accompany_system, 1 %>
                    <%= f.label :accompany_system, "同伴料金と指名料別" %></td></tr>
                    <tr><td><%= f.label :table, "席数(VIPを含めない）" %></td>
                    <td><%= f.text_field :table %>席</td></tr>
                    <tr><td><%= f.label :vip, "VIP" %></td>
                    <td><%= f.text_field :vip %></td></tr>
                    <tr><td><%= f.label :vip_price, "VIP使用料" %></td>
                    <td><%= f.text_field :vip_price %>円/セット</td></tr>
                    <tr><td><%= f.label :drink_back, "ドリンクバック" %></td>
                    <td><%= f.text_field :drink_back %>円</td></tr>
                    <tr><td><%= f.label :shot_back, "ショットバック" %></td>
                    <td><%= f.text_field :shot_back %>円</td></tr>
                    <tr><td><%= f.label :bottle_back, "ボトルバック" %></td>
                    <td><%= f.text_field :bottle_back %>円</td></tr>
                    <tr><td><%= f.label :name_back, "本指名バック" %></td>
                    <td><%= f.text_field :name_back %>円</td></tr>
                    <tr><td><%= f.label :hall_back, "場内バック" %></td>
                    <td><%= f.text_field :hall_back %>円</td></tr>
                    <tr><td><%= f.label :accompany_back, "同伴バック" %></td>
                    <td><%= f.text_field :accompany_back %>円</td></tr>
                    <tr><td><%= f.label :slide_line, "売り上げスライド" %></td>
                    <td><%= f.text_field :slide_line %>円ごとに</td></tr>
                    <tr><td></td><td><%= f.text_field :slide_wage %>円/時給 アップ</td></tr>
            </table>
            <div class="datail-submit-box"><%= f.submit "新規登録",:class=>"detail_submit" %></div>
            <% end %>
        </div>
    </div>
</div>
