<h1>店舗初期設定</h1>
    <p>店舗名</p><%= @shop.name %><br>
    <p>メールアドレス</p><%= @shop.email %><br>
    <p>郵便番号</p><%= @shop.postal_code %><br>
    <%= form_with model: @shop,url: shop_detial_set_path(@shop), local: true do |f| %>

        <%= f.label :girl_wage, "キャスト時給（デフォルト）" %>
        <%= f.text_field :girl_wage %><br>
        <%= f.label :staff_wage, "スタッフ時給（デフォルト）" %>
        <%= f.text_field :staff_wage %><br>
        <%= f.label :drink, "ドリンク料金" %>
        <%= f.text_field :drink %><br>
        <%= f.label :shot, "ショット料金" %>
        <%= f.text_field :shot %><br>
        <%= f.label :tax_percentage, "TAX" %>
        <%= f.text_field :tax_percentage %><br>
        <%= f.label :card_tax_percentage, "カード手数料" %>
        <%= f.text_field :card_tax_percentage %>%<br>
        <%= f.label :set_price, "セット料金" %>
        <%= f.text_field :set_price %><br>
        <%= f.label :name_price, "指名料" %>
        <%= f.text_field :name_price %><br>
        <%= f.label :hall_price, "場内指名料" %>
        <%= f.text_field :hall_price %><br>
        <%= f.label :accompany, "同伴料金" %>
        <%= f.text_field :accompany %><br>
        <%= f.radio_button :accompany_system, 0 %>
        <%= f.label :accompany_system, "同伴料金に指名料を含める（ファーストセットのみ）" %>
        <%= f.radio_button :accompany_system, 1 %>
        <%= f.label :accompany_system, "同伴料金と指名料別" %><br>
        <%= f.label :table, "席数(VIPを含めない）" %>
        <%= f.text_field :table %><br>
        <%= f.label :vip, "VIP" %>
        <%= f.text_field :vip %><br>
        <%= f.label :vip_price, "VIP使用料" %>
        <%= f.text_field :vip_price %><br>
        <%= f.label :drink_back, "ドリンクバック" %>
        <%= f.text_field :drink_back %><br>
        <%= f.label :shot_back, "ショットバック" %>
        <%= f.text_field :shot_back %><br>
        <%= f.label :bottle_back, "ボトルバック" %>
        <%= f.text_field :bottle_back %><br>
        <%= f.label :name_back, "本指名バック" %>
        <%= f.text_field :name_back %><br>
        <%= f.label :hall_back, "場内バック" %>
        <%= f.text_field :hall_back %><br>
        <%= f.label :slide_line, "売り上げスライド" %>
        <%= f.text_field :slide_line %>円ごとに
        <%= f.text_field :slide_wage %>円/時給 アップ<br>
       <%= f.submit "新規登録" %>
<% end %>