<h1>回転メニュー</h1>
<%= form_with model: @today,url:shop_rolling_path,local: true do |f| %>
	<% @shop.table.times do |i| %>
		<h3><%= i + 1 %>卓</h3>
		<% table = @tables.find_by(number: i+1) %>
		<% if table != nil %>
			<%= f.fields_for :tables do |t| %>
			<%  if t.object.number == i+1 %>
				<%= t.fields_for :table_girls do |table_girl| %>
					<% #TableGirl.where(table_id: table.id).each do |table_girl| %>
						<% if table_girl.object.today_girl_id == nil %>
							<%= table_girl.collection_select :today_girl_id,@girls,:id,:name,prompt: "" %>
						<% else %>
							<%= table_girl.collection_select :today_girl_id,@girls,:id,:name,selected: table_girl.object.today_girl.girl.id,include_blank:"" %>
						<% end %>
					<% #end %>
				<% end %>
			<% end %>
			<% end %>
		<% end %>
	<% end %>
	<%= f.submit "回転" %>
<% end %>
<h3>待機</h3>
<% @today_girls.each do |girl| %>
	<% if girl.table_girl == [] %>
		<%= girl.girl.name %>
	<% end %>
<% end %>