<h1><%= @shop.name %> 店舗トップ</h1>
<%= link_to "キャスト一覧",shop_girls_path(@shop.id) %>
<%= link_to "開店準備", new_shop_todays_path(@shop.id) %>
<%= link_to "出勤一覧", shop_todays_index_path(@shop.id) %>
<%= link_to "入店", new_shop_table_path(@shop.id) %>
<%= link_to "回転", shop_roll_path(@shop.id) %><br>

<% @shop.table.times do |i| %>
	<% if @shop.today.tables.find_by(number: i+1) != nil %>
	<%=link_to shop_table_path(@shop.id,@shop.today.tables.find_by(number: i+1).id) do %>
		<%= i+1 %>卓<br>
	<% end %>
	<% else %>
	<%= i+1 %>卓<br>
	<% end %>
	<% if @shop.today.tables.find_by(number: i+1) != nil %>
	<span>客数:</span><span><%=@shop.today.tables.find_by(number: i+1).member %></span>
	<% end %>
	<p>キャスト:</p>
	<% if @shop.today.tables.find_by(number: i+1) != nil %>
	<% if @shop.today.tables.find_by(number: i+1).table_girls != nil %>
	<% @shop.today.tables.find_by(number: i+1).table_girls.each do |table_girl| %>
		<% if table_girl.today_girl_id != nil %>
			<%= table_girl.today_girl.girl.name %> <br>
		<% end %>
	<% end %>
	<% end %>
	<% end %>
<% end %>