<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h2 class="shops_index"><%= @mounth_grade.mounth %>月<%= @today_grade.date %>日</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-bordered">
				<tr>
					<th>現金会計</th>
					<th>カード会計</th>
					<th>合計金額</th>
					<th>支払い金額</th>
				</tr>
				<tr>
					<td>
						<%= @today_grade.sale %>円
					</td>
					<td>
						<%= @today_grade.card_sale %>円
					</td>
					<td>
						<%= @today_grade.sale + @today_grade.card_sale %>円
					</td>
					<td>
						<%= @payment %>円
					</td>
				</tr>
			</table>

			<%= link_to shop_mounth_grade_today_grade_payments_path(@shop.id,@mounth_grade.id,@today_grade.id) do %>
				<div class="pay-confirm payment-confirm">支払い一覧</div>
			<% end %>
			<%= link_to shop_todays_confirm_path(@shop.id) do %>
				<div class="payment-confirm">締め作業完了</div>
			<% end %>
		</div>
	</div>
</div>