<h1>オーダー</h1>

<%= form_with model:@table, url:shop_table_orders_path,local: true,method: :post do |f| %>
	<h3>ドリンク</h3>
	<% @table_girls.each do |girl| %>
		<%= f.fields_for :orders do |t| %>
			<% if girl.today_girl_id != nil %>
				<%= girl.today_girl.name %>
				<%= t.collection_select :product_id, @drink_products,:id,:name %>
				<%= t.select :quantity, options_for_select(0..10,selected: 0) %>
				<%= t.hidden_field :today_girl_id, :value => girl.today_girl_id %>
				<br>
			<% end %>
		<% end %>
	<% end %>
	<h3>ボトル</h3>
	<%= f.fields_for :orders do |t| %>
		<%= t.collection_select :product_id, @bottle_products,:id,:name,prompt:"" %>
		<%= t.select :quantity, options_for_select(0..10,selected: 0) %>
	<% end %>
	<%= f.fields_for :orders do |t| %>
		<h3>その他</h3>
		<%= t.collection_select :product_id, @any_products,:id,:name,prompt:"" %>
		<%= t.select :quantity,options_for_select(0..10,selected: 0) %><br>
	<% end %>
	<%= f.submit "オーダー確定" %>
<% end %>