<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="shops_index">合計金額編集</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>※処理の誤作動やダンピング等で合計金額を修正したい時のみ行ってください。</p>
			<%= form_with model:@table, url:shop_table_accountings_update_path(@shop.id,@table.id),local: true do |f| %>
				<% if @table.payment_method_i18n != "カード併用" %>
					<%= f.label "合計金額" %>
					<%= f.text_field :all_payment, value:(@table.payment + (@table.payment * @shop.tax) + (@table.card_payment + (@table.card_payment * @shop.tax))+(@table.card_payment + (@table.card_payment * @shop.tax)) * @shop.card_tax).to_i %>
				<% else %>
					<%= f.label "現金" %>
					<%= f.text_field :payment, value:(@table.payment + (@table.payment * @shop.tax)).to_i %>
					<%= f.label "カード" %>
					<%= f.text_field :card_payment, value:(@table.card_payment + (@table.card_payment * @shop.tax)+(@table.card_payment + (@table.card_payment * @shop.tax)) * @shop.card_tax).to_i %>
				<% end %>
			<%= f.submit "変更" %>
			<% end %>
		</div>
	</div>
</div>