<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
            <div class="error-message"><%= flash[:alert] %></div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h2 class="shops_index"><%= @table.number %>卓 会計確認画面</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="payment-method-box">
				<% if @table.payment_method == 0 %>
					<%= link_to shop_table_and_card_path(@shop.id,@table.id) do %>
						<span class="swich with-card">カード併用</span>
					<% end %>
					<%= link_to shop_table_card_path(@shop.id,@table.id),method: :post do %>
						<span class="swich card">カード会計</span>
					<% end %>
				<% else %>
					<%= link_to shop_table_cash_path(@shop.id,@table.id), method: :post do %>
						<span class="swich cash">現金会計</span>
					<% end %>
				<% end %>
			</div>

			<table class="table">
				<tr>
					<th>セット料金</th>
					<td>
						<%= @table.price %>円×<%= @table.member %>名
					</td>
					<td>
						<%= @table.price * @table.member %>
					</td>
				</tr>
				<% i = 1 %>
				<% while  i < @table.set_count %>
				<tr>
					<th>セット料金</th>
					<td>
						<%= @shop.set_price + @shop.extension_price %>円×<%= @table.member%>名
					</td>
					<td>
						<%= (@shop.set_price + @shop.extension_price) * @table.member%>
					</td>
				</tr>
				<% i += 1%>
				<% end %>
				<tr>
					<th>ドリンク</th>
					<td>
						<% drink_category = @shop.categories.find_by(name: "ドリンク") %>
						<% drinks= Product.where(category_id: drink_category.id) %>
						<% order_drinks = @table.orders.where(product_id: drinks.pluck(:id)) %>
						<% drink_total_quantity = 0 %>
						<% order_drinks.each do |drink| %>
							<% drink_total_quantity += drink.quantity %>
						<% end %>
						<%= @shop.drink %>円×<%= drink_total_quantity %>杯
					</td>
					<td>
						<%= @shop.drink * drink_total_quantity %>
					</td>
				</tr>
				<tr>
					<th>ショット</th>
					<td>
						<% shot_category = @shop.categories.find_by(name: "ショット") %>
						<% shots= Product.where(category_id: shot_category.id) %>
						<% order_shots = @table.orders.where(product_id: shots.pluck(:id)) %>
						<% shot_total_quantity = 0 %>
						<% order_shots.each do |shot| %>
							<% shot_total_quantity += shot.quantity %>
						<% end %>
						<%= @shop.shot %>円×<%= shot_total_quantity %>杯
					</td>
					<td>
						<%= @shop.shot * shot_total_quantity %>
					</td>
				</tr>
				<tr>
					<th>その他</th>
					<td></td>
					<td></td>
				</tr>
					<% bottle_category = @shop.categories.find_by(name: "ボトル") %>
					<% bottles= Product.where(category_id: bottle_category.id) %>
					<% order_bottles = @table.orders.where(product_id: bottles.pluck(:id)) %>
					<% order_bottles.each do |order| %>
					<tr>
						<th></th>
						<td><%= order.product.name %>×<%= order.quantity %></td>
						<td><%= order.product.price * order.quantity %></td>
					</tr>
					<% end %>
					<% any_category = @shop.categories.find_by(name: "その他") %>
					<% anys= Product.where(category_id: any_category.id) %>
					<% order_anys = @table.orders.where(product_id: anys.pluck(:id)) %>
					<% order_anys.each do |order| %>
						<tr>
							<th></th>
							<td><%= order.product.name %>×<%= order.quantity %></td>
							<td><%= order.product.price * order.quantity %></td>
						</tr>
					<% end %>
					<tr>
						<th>指名料</th>
						<td></td>
						<td></td>
					</tr>
					<% @table.nameds.each do |named| %>
					<tr>
						<th></th>
						<td>
							<%= named.today_girl.name %>
							<% if named.named_status == 0 %>
							<!-- 本指名 -->
								(本指名):<%= @shop.name_price %>円×<%= named.count %>セット</td>
								<td><%= @shop.name_price * named.count %>円</td>
							<% elsif named.named_status == 1 %>
							<!-- 同伴 -->

							(同伴料金):<%= @shop.accompany %>円</td>
								<td><%= @shop.accompany %>円</td>
							<% elsif named.named_status == 2 %>
							<!-- 場内 -->
							(場内指名):<%= @shop.hall_price %>円×<%= named.count %>セット</td>
								<td><%= @shop.hall_price * named.count %>円</td>
							<% end %>
					</tr>
					<% end %>
				<tr>
					<th>小計</th>
					<td></td>
					<td><%= (@payment + @card_payment).round.to_i %></td>
				</tr>
				<tr>
					<th>TAX</th>
					<td></td>
					<td><%= (@card_tax + @tax).round.to_i %></td>
				</tr>
				<% if @table.payment_method != 0 %>
				<tr>
					<th>カード決済手数料</th>
					<td></td>
					<td><%= (@card_fee).round.to_i %></td>
				</tr>
				<% end %>
			</table>

			<% all_cash_payment = (@tax + @payment).round.to_i %>
			<% all_card_payment = (@card_payment + @card_tax + @card_fee).round.to_i %>

			<% if @table.payment_method == 0 %>
			</div>
			<div class="col-md-3 col-md-offset-6">
			<table class="all-payment table table-bordered">
				<tr>
					<td>合計金額</td>
				</tr>
				<tr>
					<td><%= all_cash_payment %>
						<%= link_to shop_table_edit_accounting_path(@shop.id,@table.id) do %>
						<span class="edit-all-payment">編集</span>
						<% end %>
					</td>
				</tr>
			</table>
			</div>
			<div class="col-md-8 col-md-offset-1">

			<% elsif @table.payment_method == 1 %>
			</div>
			<div class="col-md-3 col-md-offset-6">
			<table class="all-payment table table-bordered">
				<tr>
					<td>合計金額</td>
				</tr>
				<tr>
					<td><%= all_card_payment %>
						<%= link_to shop_table_edit_accounting_path(@shop.id,@table.id) do %>
						<span class="edit-all-payment">編集</span>
						<% end %>
					</td>
				</tr>
			</table>
			</div>
			<div class="col-md-8 col-md-offset-1">

			<% elsif @table.payment_method == 2 %>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<table class="withcard-payment table table-bordered">
					<tr>
						<td>現金会計金額</td><td>カード会計金額</td><td>合計金額</td>
					</tr>
					<tr>
						<td><%= all_cash_payment %></td>
						<td><%= all_card_payment %></td>
						<td><%= all_cash_payment + all_card_payment %>
							<%= link_to shop_table_edit_accounting_path(@shop.id,@table.id) do %>
							<span class="edit-all-payment">編集</span>
							<% end %>
						</td>
					</tr>
				</table>
			<% end %>
			<%= link_to shop_table_accountings_path(@shop.id,@table.id),method: :post do %>
			<div class="payment-confirm">会計確定</div>
			<% end %>

		</div>
	</div>
</div>
