<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h2 class="shops_index">メニュー新規登録</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="girl-create-box">
				<table class="table table-simple">
					<%= form_with model:@product, url:shop_products_path(@shop.id) do |f| %>
						<tr><th><%= f.label :name, "名称"  %></th>
						<td><%= f.text_field :name %></td></tr>
						<tr><td><%= f.label :category_id, "種別" %></td>
						<td><%= f.collection_select :category_id,@categories,:id,:name,prompt: "" %></td></tr>
						<tr><td><%= f.label :price, "価格" %></td>
						<td><%= f.text_field :price %></td></tr>
						<tr><td></td><td class="pull-right"><%= f.submit "メニュー登録" %></td></tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<table class="table">
				<% @categories.each do |category| %>
					<% if category.products != [] %>
						<tr class="success">
							<th>
								<%= category.name %>
							</th>
							<th></th>
						</tr>

						<tr><th>名称</th><th>価格</th></tr>
						<% products = category.products %>
						<% products.each do |product| %>
							<tr><td><%= product.name %></td><td><%= product.price %></td></tr>
						<% end %>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>