<!DOCTYPE html>
<html>
  <head>
    <title>Yossy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8f5dcc4261.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #f5f5dc">
    <div class="header" style = "background: #dcdcdc">
      <nav class="navbar navbar-main  navbar-shadow" role="navigation">
        <div class="container relative">
          <div class="navbar-header">
            <h2>Yossy POS</h2>
          </div>
          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if owner_signed_in? %>
                <li><%= link_to '店舗一覧', shops_path, class: '' %></li>
                <li><%= link_to 'ログアウト', destroy_owner_session_path, method: :delete,class: '' %></li>

              <% elsif staff_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: '' %></li>
              <% else %>
                <li class="nav-list"><%= link_to 'About', root_path, class: '' %></li>
                <li class="nav-list"><%= link_to '新規登録', new_owner_registration_path, class: '' %></li>
                <li class="nav-list"><%= link_to 'オーナーログイン', new_owner_session_path, class: '' %></li>
                <li class="nav-list"><%= link_to 'スタッフログイン', new_staff_session_path, class: '' %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% if owner_signed_in? || staff_signed_in? %>
        <% if @shop != nil && @shop.id != nil %>
        <div class="menu-box col-md-12">

          <%= link_to "店舗TOP",shop_top_path(@shop.id),class:"menu-text" %>

          <% if @shop.today.today_girls == [] %>
            <%= link_to "開店準備", new_shop_todays_path(@shop.id),class:"menu-text" %>
          <% else %>
            <%= link_to "出勤一覧", shop_todays_index_path(@shop.id),class:"menu-text" %>
          <% end %>

          <% if owner_signed_in? %>
            <% if current_owner.owner_shops.find_by(shop_id:@shop.id).is_authority == true %>
              <%= link_to "キャスト一覧",shop_girls_path(@shop.id),class:"menu-text" %>
              <%= link_to "商品登録", new_shop_product_path(@shop.id),class:"menu-text" %>
              <%= link_to "日報", shop_mounth_grade_today_grade_path(@shop.id,@mounth_grade.id,@today_grade.id),class:"menu-text" %>
              <%= link_to "月報", shop_mounth_grades_path(@shop.id),class:"menu-text" %>
              <%= link_to "スタッフ一覧", shop_staffs_path(@shop.id),class:"menu-text" %>
            <% end %>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
